* {
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar {
    background-color: rgb(52, 159, 57);
    padding: 0px;
    margin: 0px;
    height: 70px;
}

.container-fluid {
    height: 100%;
}

.navbar-brand {
    height: 45px;
    padding: 0px 25px;
}

.nav-item a {
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.navbar ul li {
    border-radius: 20px;
    padding: 0px 15px;
    margin: 15px 10px;
    transition: 0.5s;
}

.navbar ul li:hover {
    background-color: white;
}

.navbar-toggler-icon {
    color: #fff;
}

.nav-item :hover {
    color: black;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-header img {
    filter: invert(100%);
    padding: 0px 10px;
    margin: 0px 0px;
}

.ltext {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.offcanvas-body {
    background-color: rgb(51, 158, 57);
}

.banner {
    height: 450px;
    width: 100vw;
    background-image: linear-gradient(to top, rgba(9, 9, 9, 0.4), rgba(35, 33, 33, 0.501)),
        url('banner-about.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    color: white;
    font-size: 70px;
    margin: 0px 0px;
    font-weight: bold;
    overflow: hidden;
}

.banner h2 {
    color: rgb(102 229 108);
    letter-spacing: 2px;
    word-spacing: 3px;
    font-weight: bold;
}

.banner button {
    font-size: 15px;
    padding: 0px 0px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0px;
    border: 1.5px solid white;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
}

.banner a {
    color: #fff;
    text-decoration: none;
    display: block;
    /* border: 1px solid white; */
    width: 100%;
    height: 100%;
    padding: 5px 10px;
}

.banner a:hover {
    background-color: white;
    color: black;
}

.banner p {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    width: 70%;
}

.section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0px 150px;
    /* align-items: center; */
    /* justify-content: center; */

}

.section_content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-top: 20px;
    text-align: justify;

}

.section_content h5 {
    color: rgb(52, 159, 57);
}

.donate {
    width: 100%;
    margin: 30px 0px;
    padding: 0px 170px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.donate button {
    width: 100px;
    height: 40px;
    padding: 5px 10px;
    color: white;
    background-color: rgb(51, 158, 57);
    border: none;
}

.donate button:hover {
    background-color: black;
    color: white;
}

footer {
    width: 100vw;
    height: 30vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.foot {
    height: 90%;
    width: 30%;
    /* border: 1px solid white; */
    overflow: hidden;
}

form {
    width: 70%;
    display: flex;
    flex-direction: column;
    font-size: small;
}

form input,
textarea {
    width: 85%;
    margin-bottom: 4px;
}

form button {
    background-color: rgb(51, 158, 57);
    border: none;
    color: white;
    width: 85%;
}

textarea:focus,
input:focus {
    outline: none;
}

#foot3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#foot1 ul {
    padding: 0px;
}

#foot1 h4 {
    color: rgb(51, 158, 57);
}

#foot1 li a {
    list-style: none;
    color: white;
    font-size: 0.8rem;
    font-weight: lighter;
    text-transform: uppercase;
    text-decoration: none;
}

#foot1 li a:hover {
    color: rgb(51, 158, 57);
}

#links {
    display: flex;
    justify-content: space-between;
}

#foot3 h4 {
    color: rgb(51, 158, 57);
}

#copy {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 0.8rem;
    margin-bottom: 0px;
}

@media only screen and (max-width:700px) {
    .banner h1 {
        font-size: 50px;
    }

    .section {
        padding: 0px 20px;
    }

    .donate {
        padding: 0px 40px;

    }

    #foot1 {
        width: 60%;
        padding: 0px 2px;
    }

    #foot3 {
        width: 40%;
        margin-right: 4px;
    }

    #foot3 form {
        width: 100%;
    }

    form input,
    textarea {
        width: 100%;
        margin-bottom: 6px;
    }

    form button {
        width: 100%;
    }

    #foot1 li a {
        font-size: 0.7rem;
    }
}